Repository hmcts/rd-location-ref-api, pull requests merged in 2020-11, with the labels that each got.

#99 fix: JPA mock repository test in Junit
  build.gradle
  src/test/java/uk/gov/hmcts/reform/lrdapi/repository/ServiceRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/repository/ServiceToCcdCaseTypeAssocRepositoryTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-99

#100 feat:removing the repositories and correcting the integration and fun…
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveOrgServiceDetailsFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveOrgServiceDetailsIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/repository/ServiceRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/repository/ServiceToCcdCaseTypeAssocRepositoryTest.java
  src/integrationTest/resources/db/migration/V1_5__services.sql
  src/integrationTest/resources/db/migrationAks/V2_1__service_to_ccd_case_type_assoc.sql
  src/main/resources/db/migrationAks/V2_1__service_to_ccd_case_type_assoc.sql
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-100

#101 RDCC-1966: adding 'payment_app' to whitelist
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-101

#107 Updating java chart version - Master
  .travis.yml
  Dockerfile
  charts/rd-location-ref-api/Chart.yaml
  charts/rd-location-ref-api/requirements.yaml
  gradle/wrapper/gradle-wrapper.properties
  src/contractTest/java/uk/gov/hmcts/reform/lrdapi/IdamConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveOrgServiceDetailsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/client/LrdApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/util/JwtTokenUtil.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/util/KeyGenUtil.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/util/LrdApiClient.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/LrdApiController.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/Jurisdiction.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/ServiceToCcdCaseTypeAssoc.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/lrdapi/oidc/JwtGrantedAuthoritiesConverterTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-107

#110 Add secrets required by the pipeline - PerfTest
  infrastructure/main.tf
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-110

#108 Add secrets required by the pipeline - Master
  infrastructure/main.tf
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-108

#113 feat:removing the sequence from service entity and fixing the sonarcu…
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/Service.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/controllers/LrdApiControllerTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-113

#119 feat:removing EnableCircuitBreaker and correcting other mappings
  src/main/java/uk/gov/hmcts/reform/lrdapi/LrdApiApplication.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/Jurisdiction.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/OrgBusinessArea.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/OrgSubBusinessArea.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/OrgUnit.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/Service.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/ServiceToCcdCaseTypeAssoc.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/controllers/response/LrdOrgInfoServiceResponseTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/domain/ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/domain/ServiceToCcdCaseTypeAssocTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/service/impl/LrdServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-119
