Repository hmcts/rd-location-ref-api, pull requests merged in 2021-08, with the labels that each got.

#284 LRD : Retrieve the court venue details based on the supplied court venue name
  src/contractTest/java/uk/gov/hmcts/reform/lrdapi/provider/LrdApiProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveCourtVenueDetailsFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/LrdCourtVenueController.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/constants/LocationRefConstants.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/repository/CourtVenueRepository.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/service/CourtVenueService.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/service/impl/CourtVenueServiceImpl.java
  src/main/resources/db/migrationAks/V2_4__insert_court_venues_1.sql
  src/test/java/uk/gov/hmcts/reform/lrdapi/controllers/LrdCourtVenueControllerTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/service/impl/CourtVenueServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-284

#286 RDCC-3168: Addressing Sonar Issues in Master
  src/contractTest/java/uk/gov/hmcts/reform/lrdapi/provider/LrdApiProviderTest.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/response/LrdCourtVenueResponse.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/response/LrdCourtVenuesByServiceCodeResponse.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/CourtType.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/controllers/LrdApiControllerGetBuildingLocationsTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/controllers/LrdApiControllerOrgServiceTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/controllers/response/LrdCourtVenueResponseTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/controllers/response/LrdCourtVenuesByServiceCodeResponseTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/domain/CourtTypeTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/domain/CourtVenueTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/service/impl/CourtVenueServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/util/ValidationUtilsTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-286

#289 RDCC-3169 -Update chart versions in all PRD repos
  charts/rd-location-ref-api/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-289

#287 RDCC-3166: Refactoring integration tests
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveBuildingLocationDetailsFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/GetBuildingLocationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveBuildingLocationIntegrationTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-287

#290 RDCC-3237- Fix CVE issue : CVE-2021-28170
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-290

#291 RDCC-3237 - Fix CVE issues CVE-2021-22119
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-291

#293 fixed dependency check issue
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-293

#294 fixed the security scan
  security.sh
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-294
