Repository hmcts/rd-location-ref-api, pull requests merged in 2021-11, with the labels that each got.

#302 added new endpoint searchString Api
  audit.json
  src/contractTest/java/uk/gov/hmcts/reform/lrdapi/provider/LrdApiProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveCourtVenuesBySearchStringFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveCourtVenuesBySearchStringIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/util/LrdApiClient.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/LrdCourtVenueController.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/constants/LocationRefConstants.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/repository/CourtVenueRepository.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/service/CourtVenueService.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/service/impl/CourtVenueServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/service/impl/FeatureToggleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/util/ValidationUtils.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/controllers/LrdCourtVenueControllerTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/service/impl/CourtVenueServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-302

#307 fix: CVE-2021-22096 by upgrading springboot version to 2.4.12
  audit.json
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-307

#305 Added New three columns in response
  src/contractTest/java/uk/gov/hmcts/reform/lrdapi/provider/LrdApiProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/GetBuildingLocationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveBuildingLocationIntegrationTest.java
  src/integrationTest/resources/db/testmigration/V1_13__drop_and_alter_tables.sql
  src/integrationTest/resources/db/testmigration/V1_15__insert_court_venues.sql
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/response/LrdCourtVenueResponse.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/CourtVenue.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/controllers/response/LrdCourtVenueResponseTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/controllers/response/LrdCourtVenuesByServiceCodeResponseTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/domain/CourtVenueTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/service/impl/CourtVenueServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-305

#309 RDCC-3644: LRD CVE suppression extension
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-309

#312 RDCC-3681-Publish test reports in Jenkins
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-312

#313 RDCC-3616: LRD - increase mutation coverage
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/util/IntegrationTestOidcSecurityConfig.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/service/impl/CourtVenueServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/service/impl/LrdBuildingLocationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/service/impl/RegionServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-313

#314 RDCC-3620: LRD Code refactoring to implement Java11 features
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/serenity5/SerenityTestWithoutReporting.java
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/serenity5/counter/TestCountListener.java
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/serenity5/counter/TestCounter.java
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/serenity5/extension/SerenityExtension.java
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/serenity5/extension/page/PatchedManagedWebDriverAnnotatedField.java
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/serenity5/extension/page/SerenityPageExtension.java
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/serenity5/extension/page/TestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/serenity5/extension/page/TestMethodAnnotations.java
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/serenity5/guice/JUnit5Module.java
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/serenity5/guice/JUnitInjectors.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/util/IntegrationTestOidcSecurityConfig.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/response/LrdOrgInfoServiceResponse.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/service/impl/CourtVenueServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-314
