Repository hmcts/rd-location-ref-api, pull requests merged in 2021-04, with the labels that each got.

#199 Rdcc 2420 get service code by ccdservicename
  charts/rd-location-ref-api/Chart.yaml
  src/contractTest/java/uk/gov/hmcts/reform/lrdapi/provider/LrdApiProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveOrgServiceDetailsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/client/LrdApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveOrgServiceDetailsIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/util/LrdApiClient.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/LrdApiController.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/constants/LocationRefConstants.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/repository/ServiceToCcdCaseTypeAssocRepositry.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/service/LrdService.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/service/impl/FeatureToggleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/service/impl/LrdServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/util/FeatureConditionEvaluation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/lrdapi/controllers/LrdApiControllerTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/service/impl/LrdServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-199

#206 fix:RDCC-2746: Helm chart version upgrade
  charts/rd-location-ref-api/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-206

#211 fix: Security scan fix
  audit.json
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-211

#215 fix: Addressed review comments
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/Jurisdiction.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/OrgBusinessArea.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/OrgSubBusinessArea.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/OrgUnit.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/Service.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/repository/ServiceRepository.java
  src/smokeTest/java/uk/gov/hmcts/reform/lrdapi/SmokeTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-215

#217 feat: Added flyway script to create new tables
  src/integrationTest/resources/db/migration/V1_9__create_tables.sql
  src/main/resources/db/migration/V1_9__create_tables.sql
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-217

#218 fix: Added locations in gradle for flyway
  build.gradle
  src/smokeTest/java/uk/gov/hmcts/reform/lrdapi/SmokeTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-218
