Repository hmcts/rd-location-ref-api, pull requests merged in 2021-05, with the labels that each got.

#221 RDCC-2731: Upgrading Spring Version to 2.4.5 & other dependency versions
  build.gradle
  charts/rd-location-ref-api/Chart.yaml
  charts/rd-location-ref-api/values.preview.template.yaml
  charts/rd-location-ref-api/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yml
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-221

#224 added demo branch in sync configuration
  Jenkinsfile_CNP
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-224

#228 RDCC-2766 changed response for duplicate issue
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveOrgServiceDetailsFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveOrgServiceDetailsIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/ServiceToCcdCaseTypeAssoc.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/service/impl/LrdServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/domain/ServiceToCcdCaseTypeAssocTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-228

#233 Enable DB self service
  infrastructure/main.tf
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-233

#234 RDCC-2846: Nightly Build Fix
  audit.json
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-234

#239 RDCC-2878 Added validations for special characters and whitespaces
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/LrdApiController.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/util/ConstraintValidation.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/controllers/LrdApiControllerTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-239
