Repository hmcts/rd-location-ref-api, pull requests merged in 2021-06, with the labels that each got.

#235 RDCC-2837 changed all Compile and testCompile entries to implementation and testImplementation
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-235

#245 Feat: RDCC-2804 - GET particular building location details for a given ePIMs ID
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/lrdapi/provider/LrdApiProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveBuildingLocationDetailsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/client/LrdApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/GetBuildingLocationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/util/LrdApiClient.java
  src/integrationTest/resources/db/migration/V1_10__insert_LRD.sql
  src/integrationTest/resources/db/migration/V1_11__insert_test_buildinglocations.sql
  src/main/java/uk/gov/hmcts/reform/lrdapi/config/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/LrdApiController.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/constants/LocationRefConstants.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/response/LrdBuildingLocationResponse.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/BuildingLocation.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/BuildingLocationStatus.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/Cluster.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/Region.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/repository/BuildingLocationRepository.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/service/ILrdBuildingLocationService.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/service/impl/FeatureToggleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/service/impl/LrdBuildingLocationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/util/ConstraintValidation.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/util/ValidationUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/lrdapi/controllers/LrdApiControllerGetBuildingLocationsTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/domain/BuildingLocationStatusTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/domain/BuildingLocationTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/domain/ClusterTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/domain/RegionTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/service/impl/LrdBuildingLocationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/util/ValidationUtilsTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-245

#256 fix: Fixed flyway version conflict issue
  audit.json
  src/integrationTest/resources/application-test.yml
  src/integrationTest/resources/db/testmigration/V1_10__insert_LRD.sql
  src/integrationTest/resources/db/testmigration/V1_11__insert_test_buildinglocations.sql
  src/integrationTest/resources/db/testmigration/V1_12__static_table_inserts_and_audit_exception_creation.sql
  src/integrationTest/resources/db/testmigration/V1_1__init_tables.sql
  src/integrationTest/resources/db/testmigration/V1_2__add_sequences.sql
  src/integrationTest/resources/db/testmigration/V1_3__alter_LRD.sql
  src/integrationTest/resources/db/testmigration/V1_4__Insert_LRD.sql
  src/integrationTest/resources/db/testmigration/V1_5__services.sql
  src/integrationTest/resources/db/testmigration/V1_6__excption_table.sql
  src/integrationTest/resources/db/testmigration/V1_7__audit_table.sql
  src/integrationTest/resources/db/testmigration/V1_9__create_tables.sql
  src/integrationTest/resources/db/testmigrationAks/V2_1__service_to_ccd_case_type_assoc.sql
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-256

#257 added serenity report config in nightly job
  Jenkinsfile_nightly
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-257

#259 feat: RDCC-2991 Added flyway scripts to drop, alter, update tables and columns
  src/integrationTest/resources/db/testmigration/V1_13__drop_and_alter_tables.sql
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/BuildingLocation.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/BuildingLocationStatus.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/service/impl/LrdBuildingLocationServiceImpl.java
  src/main/resources/db/migration/V1_11__drop_and_alter_tables.sql
  src/test/java/uk/gov/hmcts/reform/lrdapi/domain/BuildingLocationStatusTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/domain/BuildingLocationTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/service/impl/LrdBuildingLocationServiceTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-259

#263 feat: get particular building location details for a given building location name
  src/contractTest/java/uk/gov/hmcts/reform/lrdapi/provider/LrdApiProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveBuildingLocationDetailsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/client/LrdApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/GetBuildingLocationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/util/LrdApiClient.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/LrdApiController.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/constants/LocationRefConstants.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/repository/BuildingLocationRepository.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/service/ILrdBuildingLocationService.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/service/impl/FeatureToggleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/service/impl/LrdBuildingLocationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/util/ValidationUtils.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/controllers/LrdApiControllerGetBuildingLocationsTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/service/impl/LrdBuildingLocationServiceTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-263

#265 RDCC-2927: Insert data into HMCTS Services to court type mapping table
  src/main/resources/db/migration/V1_12__insert_court_type_to_service_mapping.sql
  src/main/resources/db/migration/V1_13__lrd_surrogate_key_changes.sql
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-265
