Repository hmcts/rd-location-ref-api, pull requests merged in 2021-02, with the labels that each got.

#171 fix: Security scan reported issue fix
  audit.json
  charts/rd-location-ref-api/Chart.yaml
  charts/rd-location-ref-api/requirements.yaml
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-171

#177 Rdcc 2505
  audit.json
  charts/rd-location-ref-api/Chart.yaml
  charts/rd-location-ref-api/requirements.yaml
  charts/rd-location-ref-api/values.preview.template.yaml
  charts/rd-location-ref-api/values.yaml
  src/main/resources/bootstrap.yml
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-177

#178 Change app insights secret name
  charts/rd-location-ref-api/Chart.yaml
  charts/rd-location-ref-api/values.preview.template.yaml
  charts/rd-location-ref-api/values.yaml
  src/main/resources/bootstrap.yml
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-178
