Repository hmcts/rd-location-ref-api, pull requests merged in 2022-03, with the labels that each got.

#366 RDCC-4073: LRD API - Completeness of functional and Integration tests
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveBuildingLocationDetailsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveCourtVenueDetailsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveCourtVenuesBySearchStringFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveCourtVenuesByServiceCodeFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveOrgServiceDetailsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveRegionDetailsFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/GetBuildingLocationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveBuildingLocationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveCourtVenueDetailsIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveCourtVenuesBySearchStringIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveCourtVenuesByServiceCodeIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveOrgServiceDetailsIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveRegionDetailsIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/service/impl/CourtVenueServiceImpl.java
  src/main/resources/db/migrationAks/V2_3__insert_court_venues.sql
  src/main/resources/db/migrationAks/V2_4__insert_court_venues_1.sql
  src/test/java/uk/gov/hmcts/reform/lrdapi/controllers/LrdApiControllerGetBuildingLocationsTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/controllers/LrdApiControllerOrgServiceTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/controllers/LrdApiControllerRegionDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/controllers/LrdCourtVenueControllerTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/service/impl/CourtVenueServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/service/impl/LrdBuildingLocationServiceTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-366

#367 fix: Updated java chart version to 3.7.3
  charts/rd-location-ref-api/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-367

#374 RDCC-4163: collating Dependabot PRs
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-374

#385 fix: Ignored the fortify build failure
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-385

#372 Feature/rdcc 4133
  src/contractTest/java/uk/gov/hmcts/reform/lrdapi/provider/LrdApiProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveBuildingLocationIntegrationTest.java
  src/integrationTest/resources/db/testmigration/V1_18__alter_tables_add_columns.sql
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/response/LrdCourtVenueResponse.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/CourtVenue.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/controllers/response/LrdCourtVenueResponseTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/service/impl/CourtVenueServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-372

#386 Feat:Update the response of the Building Location API for HMC requirements
  src/contractTest/java/uk/gov/hmcts/reform/lrdapi/provider/LrdApiProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveBuildingLocationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveCourtVenuesByServiceCodeIntegrationTest.java
  src/integrationTest/resources/db/testmigration/V1_18__alter_tables_add_columns.sql
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-386

#391 RDCC-4301: LRD API - Improve integration test case timings
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/util/WireMockExtension.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-391

#392 Rdcc 4331-LRD CVE CVE-2020-36518
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-392

#389 Feat:Performance Test - LRD DB - Repeat requests observed
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/Service.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-389

#393 Feat: LRD DB - Repeat requests observed
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveOrgServiceDetailsFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/Service.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-393

#395 updated postgresql
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-395
