Repository hmcts/rd-location-ref-api, pull requests merged in 2022-02, with the labels that each got.

#351 Upgrade Gradle 7.3.3
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-351

#352 fix: Used used testImplementation instead of testCompile
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-352

#346 Feature: add new columns to table "Court_Venue"
  src/main/resources/db/migration/V1_17__alter_court_venue_table.sql
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-346

#348 RDCC-3923: LRD-api Remove Deprecated Jcenter Repository
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-348

#355 fixed sonar issues
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/response/LrdCourtVenueResponse.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/oidc/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/service/impl/CourtVenueServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/util/ValidationUtilsTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-355

#360 fixed sonar issues - @ParameterizedTest
  src/test/java/uk/gov/hmcts/reform/lrdapi/service/impl/LrdBuildingLocationServiceTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-360

#359 Feat : RDCC-3850 LRD : Changes to API response of the Location type ahead API
  src/contractTest/java/uk/gov/hmcts/reform/lrdapi/provider/LrdApiProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveCourtVenuesBySearchStringFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/GetBuildingLocationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveBuildingLocationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveCourtVenuesBySearchStringIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveCourtVenuesByServiceCodeIntegrationTest.java
  src/integrationTest/resources/db/testmigration/V1_13__drop_and_alter_tables.sql
  src/integrationTest/resources/db/testmigration/V1_15__insert_court_venues.sql
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/LrdCourtVenueController.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/constants/LocationRefConstants.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/response/LrdCourtVenueResponse.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/CourtVenue.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/CourtVenueRequestParam.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/repository/CourtVenueRepository.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/service/CourtVenueService.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/service/impl/CourtVenueServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/util/ValidationUtils.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/controllers/LrdCourtVenueControllerTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/domain/CourtVenueTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/service/impl/CourtVenueServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/util/ValidationUtilsTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-359

#361 fix: Bump base java helm chart to 3.7.1
  audit.json
  charts/rd-location-ref-api/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-361

#354 Feature: added new fields to LRD court venue response object
  src/contractTest/java/uk/gov/hmcts/reform/lrdapi/provider/LrdApiProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/GetBuildingLocationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveBuildingLocationIntegrationTest.java
  src/integrationTest/resources/db/testmigration/V1_15__insert_court_venues.sql
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/response/LrdCourtVenueResponse.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/CourtVenue.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/controllers/response/LrdCourtVenueResponseTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-354

#356 Feat: Changes to API response of the Court venue API
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveCourtVenueDetailsIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/util/LrdApiClient.java
  src/integrationTest/resources/db/testmigration/V1_17__alter_court_venue_table.sql
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/LrdCourtVenueController.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/constants/LocationRefConstants.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/response/LrdCourtVenueResponse.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/CourtVenue.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/domain/CourtVenueRequestParam.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/service/CourtVenueService.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/service/impl/CourtVenueServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/util/ValidationUtils.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/controllers/LrdCourtVenueControllerTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/controllers/response/LrdCourtVenueResponseTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/service/impl/CourtVenueServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-356

#365 Feat:RDCC-4119:Changes made to fix nightly build failure
  audit.json
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-365
