Repository hmcts/rd-location-ref-api, pull requests merged in 2023-02, with the labels that each got.

#506 cve issue fix RDCC- 6259
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-506

#503 Springboot API Upgrade
  Dockerfile
  build.gradle
  charts/rd-location-ref-api/Chart.yaml
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/LrdAuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/util/KeyGenUtil.java
  src/integrationTest/resources/application-test.yml
  src/main/java/uk/gov/hmcts/reform/lrdapi/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/LrdApiController.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/LrdCourtVenueController.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/controllers/constants/LocationRefConstants.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/oidc/JwtGrantedAuthoritiesConverter.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/lrdapi/oidc/JwtGrantedAuthoritiesConverterTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-503

#512 drop index
  src/contractTest/java/uk/gov/hmcts/reform/lrdapi/provider/LrdApiProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveOrgServiceDetailsFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/repository/ServiceToCcdCaseTypeAssocRepositry.java
  src/main/java/uk/gov/hmcts/reform/lrdapi/service/impl/LrdServiceImpl.java
  src/main/resources/db/migrationAks/V2_1__service_to_ccd_case_type_assoc.sql
  src/main/resources/db/postgres/V1_24__drop_indexes.sql
  src/test/java/uk/gov/hmcts/reform/lrdapi/repository/ServiceToCcdCaseTypeAssocRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/lrdapi/service/impl/LrdServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-512

#515 RDCC-6407 - APP INSIGHT changes
  Dockerfile
  build.gradle
  charts/rd-location-ref-api/values.yaml
  lib/AI-Agent.xml
  lib/applicationinsights.json
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-515

#516 RDCC-6374: Upgrading chart version to 4.0.13
  charts/rd-location-ref-api/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-516

#518 [RDCC-6414]-Fix for Functional Test cases fail in AAT env
  src/functionalTest/java/uk/gov/hmcts/reform/lrdapi/RetrieveOrgServiceDetailsFunctionalTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-518

#520 RDCC-6432: Adding Suppression for `CVE-2022-45688`
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-520
