Repository hmcts/rd-location-ref-api, pull requests merged in 2024-07, with the labels that each got.

#778 PactVerification pending pacts
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  src/contractTest/java/uk/gov/hmcts/reform/lrdapi/provider/LrdApiProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/util/ContainerImageNameSubstitutor.java
  src/main/resources/testcontainers.properties
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-778

#783 moved image name prefix for testcontainers into Jenkins builds
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_template
  src/integrationTest/java/uk/gov/hmcts/reform/lrdapi/util/ContainerImageNameSubstitutor.java
  src/main/resources/testcontainers.properties
Labels: ns:rd, prd:rd, rel:rd-location-ref-api-pr-783

#784 Build fix: update terraform version
  infrastructure/.terraform-version
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/terraform.tf
  infrastructure/variables.tf
Labels: ns:rd, prd:rd, aat/add-or-update, prod/add-or-update, rel:rd-location-ref-api-pr-784
